<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookies</title>
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="../scripts/imports/css/bootstrap.min.css" />
</head>

<body class="bg-light">
  <div class="header-div d-flex justify-content-center mt-5 mb-5">
    <h1>CookieHider</h1>
  </div>
  <div class="content-div mb-5">
    <div class="d-grid gap-2">
      <button class="cookie-action-btns btn btn-outline-success" id="accept-all" data-value="accept"
        type="button">Accept All</button>
      <button class="cookie-action-btns btn btn-outline-success" id="reject-all" data-value="reject"
        type="button">Reject All</button>
      <button class="cookie-action-btns btn btn-outline-success" id="do-nothing" data-value="nothing" type="button">Do
        Nothing</button>
    </div>
  </div>
  <script src="../scripts/imports/js/jquery.min.js"></script>
  <script src="./assets/js/utilities.js"></script>
  <script src="./assets/js/index.js"></script>
</body>

</html>